a {
    color: #FFD700;
}
.colored {
    color: #FFD700
}
h2.post-title a:hover {
    color: #FFD700
}
ul.circled li:before {
    color: #FFD700;
}
blockquote {
    background: #FFD700;
}
.footer a:hover {
    color: #FFD700
}
.btn,
.btn-submit {
    background: #FFD700;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #efc902;
}
.navbar-brand {
    background: #FFD700;
}
.navbar-brand:hover {
    background: #efc902
}
.nav > li > a:hover {
    color: #FFD700;
}
.nav > li.current > a {
    color: #FFD700;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    color: #FFD700;
}
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
    color: #FFD700;
}
.parallax a {
    color: #FFD700
}
.share-button {
    border-bottom: 1px solid #FFD700;
}
.facts i {
    color: #FFD700;
}
.filter li a:hover,
.filter li a.active {
    color: #FFD700
}
figure a .text-overlay {
    background: #FFD700;
    background: rgba(84,157,197,0.90);
}
.icon-overlay a .icn-more {
    background: #FFD700;
    background: rgba(84,157,197,0.90);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-bottom: 1px solid #FFD700
}
.contact-info li a:hover {
    color: #FFD700
}
.contact-info i {
    color: #FFD700;
    font-size: 13pt;
    vertical-align: middle;
}
.progress-list li em {
    color: #FFD700;
}
.progress.plain {
    border: 1px solid #FFD700;
}
.progress.plain .bar {
    background: #FFD700;
}
.panel-title > a:hover {
    color: #FFD700
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    color: #FFD700;
    border-color: #FFD700;
}
.pricing .plan h4 span {
    color: #FFD700
}
.sidebox a:hover {
    color: #FFD700
}
ul.tag-list li a:hover {
    color: #FFD700 !important;
    border: 1px solid #FFD700;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #FFD700 !important;
    border: 1px solid #FFD700;
}
#comments .info h2 a:hover {
    color: #FFD700
}
#comments a.reply-link:hover {
    color: #FFD700
}
.more {
    border-bottom: 1px solid #FFD700;
}
.post .meta a:hover,
.more:hover {
    color: #FFD700
}
.tooltip-inner {
    background-color: #FFD700;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #FFD700
}
.tooltip.right .tooltip-arrow {
    border-right-color: #FFD700
}
.tooltip.left .tooltip-arrow {
    border-left-color: #FFD700
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #FFD700
}
.tp-loader.spinner0,
#fancybox-loading div {
    border-left: 3px solid rgba(84,157,197,.15) !important;
    border-right: 3px solid rgba(84,157,197,.15) !important;
    border-bottom: 3px solid rgba(84,157,197,.15) !important;
    border-top: 3px solid rgba(84,157,197,.8) !important;
}